<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--日志文件主目录：这里${user.home}为当前服务器用户主目录-->
    <property name="LOG_HOME" value="log-gxh"/>
    <property name="APP_NAME" value="basic"/>
    <property name="LOG_FILE" value="${LOG_HOME}/${APP_NAME}.log"/>
    <property name="ROLLING_FILE_NAME_PATTERN" value="${LOG_HOME}/$${date:yyyy-MM}/${APP_NAME}.%d{yyyy-MM-dd}.%i.gz"/>
    <property name="LOG_FILE_MAX_HISTORY" value="60"/>
    <property name="LOG_FILE_MAX_SIZE" value="50MB"/>


    <!--默认配置-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--配置控制台(CONSOLE)-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!--配置文件(FILE)-->
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>



    <!--root节点 全局日志级别，用来指定最基础的日志输出级别-->
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.manneia.swgx.basic.mapper" level="DEBUG"/>

</configuration>